body{
	font-family: 'Roboto', sans-serif;
	background-color:#eeeeee;
}
.content{
	margin:auto;
	display:flex;
	width:60%;
	background-color:#fff;
	color:#333;
	height:90vh;
	flex-flow:column;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding:20px;
	border-radius: 5px;
}
.container{
	width:100%;
	display:flex;
	flex-align:center;
	justify-items:center;
	
}
ul.posts{
	list-style:none;
}
